body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 20px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-image: url('../images/shoreline.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-y: scroll;
}

#introduction h1 {
    /* position: absolute; */
    /* left: 0; */
    top: 10%;
    padding: 0;
    width: 100%;
    text-align: center;
    height: fit-content;
}

.container {
    width: 100%;
    margin: auto;
    justify-content: center;
    display: flex;
    overflow: auto;
}

nav {
    float: right;
    margin-top: 10px;
}

li {
    float: left;
    display: inline;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}

li a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #89fffd;
}

/* boxes */
#boxes {
    margin-top: 20px;
}

#boxes .box {
    text-align: center;
    width: 30%;
    color: #ffffff;
}

#boxes .box img {
    width: 60%;
}

#boxes .box video {
    width: 100%;
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

@media only screen and (max-device-width: 480px) {
    h1 {
        font-size: 45px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 12px;
    }
    .container {
        margin-top: 40%;
    }
}

@media only screen and (max-device-width: 800px) {
    h1 {
        font-size: 45px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 12px;
    }
    .container {
        margin-top: 5%;
    }
}